#Menu {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: rgba(97, 97, 97, 0.226);
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    border-radius: 10px;
}

.title{
    margin-bottom: 20px;
    position: relative;
    justify-content: center;
}

#Machine {
    background-image: url('../images/Icon_Machine.png');
    object-fit: cover;
} /* continué la mise en forme du menu */

.btn {
    position: relative;
    overflow: hidden;
    width: 250px;
    height: 250px;
}

button {
    margin: 5px 0; /* Ajoute un espace entre les boutons */
    padding: 10px 20px; /* Ajuste la taille des boutons */
    font-size: 16px; /* Rend le texte plus lisible */
    cursor: pointer;
}
