#Menu {
    display: flex;
    padding: 20px;
    background-color: rgba(97, 97, 97, 0.226);
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    border-radius: 10px;
    max-width: 550px;
    margin: 0 auto;
}

.title{
    margin-bottom: 20px;
    position: relative;
    justify-content: center;
}

#Machine {
    background-image: url('../images/Icon_Machine.png');
}

#Morpion {
    background-image: url('../images/Icon_morpion.png');
    margin-bottom: 10px ;
}

#Roulette{
    background-image: url('../images/Icon_roulette-russe.png');
}

.btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 100px;
    height: 120px;
    border: none;
    border-radius: 12px;
    background-color: #222;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    color: white;
    text-align: center;
    font-size: 14px;
}

.icon {
    min-width: 64px;
    min-height: 64px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 5px;
}

button {
    margin: 5px 0; 
    padding: 10px 20px; 
    font-size: 16px;
    cursor: pointer;
}
