#Roulette {
    background-color: rgba(255, 255, 255, 0.08);
    border-radius: 20px;
    width: 600px;
    height: 250px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 0 20px #000;
    perspective: 1000px;
}

.character {
    width: 64px;
    height: 64px;
    background-size: cover;
    background-position: center;
    transition: transform 0.3s ease-in-out;
}

#Bot {
    background-image: url("../images/Roulette/Bot.png");
}

#Player {
    background-image: url("../images/Roulette/Player.png");
}

.dead {
    background-image: url("../images/Roulette/Crane.png") !important;
}

#RevolverWrapper {
    transition: transform 0.5s ease;
}

.rotate-left {
    transform: rotateY(0deg);
}

.rotate-right {
    transform: rotateY(180deg);
}

.revolver {
    background-image: url("../images/Roulette/Revolver.png");
    width: 80px;
    height: 80px;
    background-size: cover;
}

.reload-spin {
    animation: reload-spin 1s ease;
}

.pulse {
    animation: pulse 2s infinite;
}

#result {
    font-size: 20px;
    margin-top: 20px;
    animation: fadeIn 0.5s;
}

@keyframes pulse {
    0%, 100% { transform: scale(1); }
    50% { transform: scale(1.1); }
}

@keyframes reload-spin {
    0% { transform: rotate(0); }
    100% { transform: rotate(-720deg); }
}
