* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#Roulette {
    display: flex;
     background: linear-gradient(145deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.05));
    border-radius: 20px;
    width: 1000px;
    height: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 0 20px #000;
    perspective: 1000px;
    border: 2px solid rgba(255, 215, 0, 0.3);
    flex-direction: column;
}

.cntRoulette {
    background-color: rgba(36, 37, 83, 0.322);
    border-radius: 20px;
    width: 900px;
    height: 750px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 0 20px #000;
    perspective: 1000px;
    border: 1px solid #ffd700;
}

/* .result-section{
    background: rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    padding: 10px;
    min-height: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
} */

.character {
    width: 64px;
    height: 64px;
    background-size: cover;
    background-position: center;
    transition: transform 0.3s ease-in-out;
}

.cntCharacter{
    display: flex;
    width: 84px;
    height: 84px;
    justify-content: center;
    align-items: center;
    background-color: rgba(34, 59, 128, 0.432);
    border: 3px solid #ffd700;
    border-radius: 15px;
box-shadow: 0 0 20px #000;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    height: 100vh; 
    text-align: center;  
}

#Bot {
    background-image: url("../images/Roulette/Bot.png");
}

#Player {
    background-image: url("../images/Roulette/Player.png");
}

.dead {
    background-image: url("../images/Roulette/Crane.png") !important;
}

#RevolverWrapper {
    transition: transform 0.5s ease;
}

.rotate-left {
    transform: rotateY(0deg);
}

.rotate-right {
    transform: rotateY(180deg);
}

.revolver {
    background-image: url("../images/Roulette/Revolver.png");
    width: 80px;
    height: 80px;
    background-size: cover;
}

.reload-spin {
    animation: reload-spin 1s ease;
}

.pulse {
    animation: pulse 2s infinite;
}

#result {
    font-size: 20px;
    margin-top: 20px;
    animation: fadeIn 0.5s;
}

@keyframes pulse {
    0%, 100% { transform: scale(1); }
    50% { transform: scale(1.1); }
}

@keyframes reload-spin {
    0% { transform: rotate(0); }
    100% { transform: rotate(-720deg); }
}
