#chessboard {
    display: grid;
    grid-template-columns: repeat(8, 80px);
    grid-template-rows: repeat(8, 80px);
    box-shadow: 0 10px 20px rgb(0, 0, 0);
    align-items: center;
    margin-bottom: 150px;
}

.square {
    width: 75px;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 2.499px;
}

.highlight {
    background-color: rgba(134, 153, 134, 0.616);
}


.white {
    background-color:  #85837f;
}

.black {
    background-color:  #575454;
}

.selected {
    border: 2px solid rgb(117, 117, 101);
    border-radius: 5px;
}

.piece{
    width: 75px;
    height: 75px;
    background-size: cover;
    background-position: center;
}

.black-piece, .white-piece {
    width: 75px;
    height: 75px;
    background-size: cover;
    background-position: center;
}

.black-pawn {
    background-image: url('../images/Echec/black-pawn.png');
}

.black-rook{
    background-image: url('../images/Echec/black-rook.png');
}

.black-knight{
    background-image: url('../images/Echec/black-knight.png');
}

.black-bishop {
    background-image: url('../images/Echec/black-bishop.png') ;
}

.black-king {
    background-image: url('../images/Echec/black-king.png');
}

.black-queen {
    background-image: url('../images/Echec/black-queen.png');
}

.white-pawn {
    background-image: url('../images/Echec/white-pawn.png');
}

.white-rook{
    background-image: url('../images/Echec/white-rook.png');
}

.white-knight{
    background-image: url('../images/Echec/white-knight.png');
}

.white-bishop {
    background-image: url('../images/Echec/white-bishop.png');
}

.white-king {
    background-image: url('../images/Echec/white-king.png');
}

.white-queen {
    background-image: url('../images/Echec/white-queen.png');
}