<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mini Jeux</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Home.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <h1 class="title">🎮 Menu des jeux 🎮</h1>
        <div id="Menu">
            <button onclick="location.href='/Bandit-Manchot'"class="btn">
                <div id="Machine" class="icon"></div>
                <span>Bandit Manchot</span>
            </button>
            <button onclick="location.href='/Morpion'" class="btn">
                <div id="Morpion" class="icon"></div>
                <span>Morpion</span>
            </button>
            <button onclick="location.href='/Roulette'" class="btn">
                <div id="Roulette" class="icon"></div>
                <span>Roulette Russe</span>
            </button>
            <button onclick="location.href='/Puissance-4'" class="btn">
                <div id="Puissance4" class="icon"></div>
                <span>Puissance 4</span>
            </button>
            <button onclick="location.href='/test'" class="btn">
                <div id="test" class="icon"></div>
                <span>Test</span>
            </button>
        </div>
    </div>
</body>
</html>