<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mini Jeux</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Home.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <h1 class="title">🎮 Menu des jeux 🎮</h1>
        <div id="Menu">
            <button onclick="location.href='/Machine'" id="Machine" class="btn">Machine a sous</button>
            <button onclick="location.href='/Morpion'" id="Morpion" class="btn">Morpion</button>
            <button onclick="location.href='/Roulette'" id="Roulette" class="btn">Roulette Russe</button>
        </div>
    </div>
</body>
</html>