<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Roulette Russe</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Roulette.css') }}">
</head>
<body>
    <!-- Particules d'arrière-plan -->
    <div class="particles" id="particles"></div>
    <div class="container">
        <h1 class="title">Roulette Russe 🎲🔫</h1>
        <div id="Roulette">
            <div id="Bot" class="character pulse"></div>
            <div id="RevolverWrapper" class="rotate-left">
                <div id="Revolver" class="revolver"></div>
            </div>
            <div id="Player" class="character pulse"></div>
        </div>
        <div class="button">
            <button id="spinButton" class="btn">🔁 Recharger</button>
            <button id="triggerButton" class="btn">🔫 Gâchette</button>
        </div>
        <p id="result"></p>
    </div>
    <button class="retour btn" onclick="location.href='/'">← Retour</button>
</body>
<script src=" {{ url_for('static', filename='js/style.js') }}"></script>
<script src="{{ url_for('static', filename='js/Roulette.js')}}"></script>
</html>