<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/test.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Page de test</title>
</head>
<body>
    <div class="container">
        <h1 class="title">Echec</h1>
        <div id="chessboard"></div>
    </div>
    <button class="retour" onclick="location.href='/'">← Retour</button>
    <script src="{{ url_for('static', filename='js/test.js') }}"></script>
</body>
</html>